<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>HumJ's Mosillo Player</title>
</head>

<body>
    <style>
        * {
            box-sizing: border-box;
            position: absolute;
            margin: 0;
            padding: 0;
            border: 0;
            font-family: Consolas, monospace;
            font-weight: normal;
            font-size: 1rem;
            line-height: 1rem;
        }

        html,
        body,
        #media {
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }

        body {
            background: #000;
        }

        #oscilloscope {
            left: calc(50% - 512px);
            top: calc(50% - 512px);
            width: 1024px;
            height: 1024px;
            filter: blur(0.11px) contrast(0.8) sepia(1) hue-rotate(120deg);
            z-index: 1;
        }

        #srcInputForm,
        #srcInput {
            left: 0;
            top: 0;
            width: 100%;
            height: 2rem;
        }

        #srcInput {
            padding: 0 0.5rem;
            line-height: 2rem;
            z-index: 1;
        }
    </style>

    <script>

        var srcInputForm = document.createElement('form');
        srcInputForm.id = 'srcInputForm';
        var srcInput = document.createElement('input');
        srcInput.id = 'srcInput';
        // srcInput.value = 'http://127.0.0.1:8080/mid/123.mp3';
        srcInput.value = 'https://oss2.humphreyj.com/media/music/oscillofun/oscillofun-wave.flac';
        srcInputForm.appendChild(srcInput);
        document.body.appendChild(srcInputForm);

        srcInputForm.addEventListener('submit', function (ev) {
            setMediaSource(srcInput.value);
            ev.preventDefault();
        });

        var media = document.createElement('video');
        media.id = 'media';
        media.crossOrigin = "anonymous";
        media.controls = true;
        setMediaSource(srcInput.value);
        document.body.appendChild(media);
        media.addEventListener('play', init);

        var audioContext;
        var oscilloscopeCanvas;
        var oscilloscopeSvg;

        function init() {
            if (!audioContext) {
                document.body.appendChild(oscilloscopeCanvas = new oscilloscopeCanvas(audioContext = getAudioContext(media, ['source'])));
                //document.body.appendChild(oscilloscopeSvg = new oscilloscopeSvg(audioContext = getAudioContext(media, ['source'])));
            }
        }

        function setMediaSource(src) {
            media.src = src;
            media.play();
        }

        function getAudioContext(mediaElement, attributes) {
            var context = new AudioContext();
            this.source = context.createMediaElementSource(mediaElement);
            this.source.connect(context.destination);

            for (var i = 0; i < attributes.length; i++) {
                context[attributes[i]] = this[attributes[i]];
            }
            return context;
        };

        function oscilloscopeCanvas(audioContext) {
            var zoom = 512
            var msaa = 2;
            var fftSize = 1024;

            var backgroundColor = 'rgba(0,0,0,0.99)';
            var dotColor = 'rgba(255,255,255,0.6)';
            var lineColor = 'rgba(255,255,255,0.1)';
            var gridColor = 'rgba(255,255,255,0.05)';

            var canvas = document.createElement('canvas');
            canvas.id = 'oscilloscope';
            canvas.width = zoom * msaa;
            canvas.height = zoom * msaa;

            var ctx = canvas.getContext('2d');
            var width = canvas.width;
            var height = canvas.height;

            var splitter = audioContext.createChannelSplitter(2);
            audioContext.source.connect(splitter);

            var analyzerL = audioContext.createAnalyser();
            analyzerL.fftSize = fftSize;
            analyzerL.smoothingTimeConstant = 0;
            var waveL = new Float32Array(analyzerL.fftSize);
            splitter.connect(analyzerL, 0);

            var analyzerR = audioContext.createAnalyser();
            analyzerR.fftSize = fftSize;
            analyzerR.smoothingTimeConstant = 0;
            var waveR = new Float32Array(analyzerR.fftSize);
            splitter.connect(analyzerR, 1);

            var draw = function () {
                analyzerL.getFloatTimeDomainData(waveL);
                analyzerR.getFloatTimeDomainData(waveR);

                ctx.fillStyle = backgroundColor;
                ctx.fillRect(0, 0, width, height);
                ctx.fillStyle = dotColor;

                {
                    ctx.strokeStyle = gridColor;
                    for (var i = -1; i <= 1; i += 0.25) {
                        ctx.beginPath();
                        ctx.moveTo(i * zoom + width * 0.5, -1 * zoom + height * 0.5);
                        ctx.lineTo(i * zoom + width * 0.5, 1 * zoom + height * 0.5);
                        ctx.moveTo(-1 * zoom + width * 0.5, i * zoom + height * 0.5);
                        ctx.lineTo(1 * zoom + width * 0.5, i * zoom + height * 0.5);
                        ctx.stroke();
                    }
                    for (var i = 0; i < 4; i++) {
                        ctx.beginPath();
                        ctx.moveTo(0 * zoom + width * 0.5, -1 * zoom + height * 0.5);
                        ctx.lineTo(0 * zoom + width * 0.5, 1 * zoom + height * 0.5);
                        ctx.moveTo(-1 * zoom + width * 0.5, 0 * zoom + height * 0.5);
                        ctx.lineTo(1 * zoom + width * 0.5, 0 * zoom + height * 0.5);
                        ctx.stroke();
                    }
                }
                {
                    ctx.strokeStyle = lineColor;
                    ctx.beginPath();
                    ctx.moveTo(-waveL[0] * zoom + width * 0.5, waveR[0] * zoom + height * 0.5);
                    for (var i = 1; i < fftSize; i++) {
                        ctx.lineTo(-waveL[i] * zoom + width * 0.5, waveR[i] * zoom + height * 0.5);
                    }
                    ctx.stroke();

                    for (var i = 0; i < fftSize; i++) {
                        ctx.fillRect(-waveL[i] * zoom + width * 0.5 - 1, waveR[i] * zoom + height * 0.5 - 1, 3, 3);
                    }
                }
            };

            var anime = function () {
                draw();
                requestAnimationFrame(anime);
            };
            anime();

            return canvas;
        };
        function oscilloscopeSvg(audioContext) {
            var zoom = 1024
            var fftSize = 1024;

            var backgroundColor = 'rgba(0,0,0,0.99)';
            var dotColor = 'rgba(255,255,255,0.6)';
            var lineColor = 'rgba(255,255,255,0.1)';
            var gridColor = 'rgba(255,255,255,0.05)';

            var width = zoom;
            var height = zoom;

            var canvas = document.createElement('div');
            canvas.id = 'oscilloscope';
            canvas.innerHTML = `
                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="${width}" height="${height}" style="zoom:${1}">
                                <style>
                                    #oscilloscope .mo-background {fill:${backgroundColor};}
                                    #oscilloscope .mo-grid { stroke:${gridColor};stroke-width:${1}; }
                                    #oscilloscope .mo-line { stroke:${lineColor};stroke-width:${1}; fill:none; }
                                    #oscilloscope .mo-dot { fill:${dotColor};}
                                </style>
                                <g>
                                    <rect class="mo-background" x="0" y="0" width="${width}" height="${height}"/>${(() => {
                    var lines = [];

                    for (var i = 1; i < 8; i++) {
                        lines.push(`<line class="mo-grid" x1="0" y1="${height * 0.125 * i}" x2="${width}" y2="${height * 0.125 * i}" />`);
                        lines.push(`<line class="mo-grid" y1="0" x1="${width * 0.125 * i}" y2="${height}" x2="${width * 0.125 * i}" />`);
                    }
                    for (var i = 0; i < 5; i++) {
                        lines.push(`<line class="mo-grid" x1="0" y1="${height * 0.5}" x2="${width}" y2="${height * 0.5}" />`);
                        lines.push(`<line class="mo-grid" y1="0" x1="${width * 0.5}" y2="${height}" x2="${width * 0.5}" />`);
                    }
                    return lines.join('');
                })()}
                                </g>
                                <g>
                                    <path id="mo-line" class="mo-line" />
                                    <g id="mo-dots"></g>
                                </g>
                            </svg>
`;
            var moLine = canvas.querySelector('#mo-line');
            var moDots = canvas.querySelector('#mo-dots');

            var splitter = audioContext.createChannelSplitter(2);
            audioContext.source.connect(splitter);

            var analyzerL = audioContext.createAnalyser();
            analyzerL.fftSize = fftSize;
            analyzerL.smoothingTimeConstant = 0;
            var waveL = new Float32Array(analyzerL.fftSize);
            splitter.connect(analyzerL, 0);

            var analyzerR = audioContext.createAnalyser();
            analyzerR.fftSize = fftSize;
            analyzerR.smoothingTimeConstant = 0;
            var waveR = new Float32Array(analyzerR.fftSize);
            splitter.connect(analyzerR, 1);

            var d = new Array(fftSize);
            var dots = new Array(fftSize);

            var draw = function () {
                analyzerL.getFloatTimeDomainData(waveL);
                analyzerR.getFloatTimeDomainData(waveR);

                var r = 1.5;
                for (var i = 0; i < fftSize; i++) {
                    var x = (-waveL[i] * width + width) * 0.5;
                    var y = (waveR[i] * height + height) * 0.5;

                    d[i] = x + ' ' + y;
                    dots[i] = `<rect x="${x - r * 0.5}" y="${y - r * 0.5}" width="${r}" height="${r}" class="mo-dot" />`;
                }

                moLine.setAttribute('d', 'M' + d.join(' L'));
                moDots.innerHTML = dots.join('');
            };

            var anime = function () {
                draw();
                requestAnimationFrame(anime);
            };
            anime();

            return canvas;
        };
    </script>
</body>

</html>
